@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: black;
}

.failed {
    animation: failed 600ms ease-out;
}

@keyframes failed {
    from {color: red;}
    to {color:white}
}